aiohttp
aioredis
argon2-cffi
async-timeout
attrs
azure-ai-formrecognizer
azure-common
azure-core
cachetools
certifi
cffi
chardet
click
colorama
cycler
distlib
docutils
freetype-py
future
httpx
idna
kiwisolver
lxml
matplotlib
multidict
numpy
olefile
packaging
Pillow
pycparser
pyparsing
PyMuPDF
pytz
regex
requests
six
sniffio
streamlit
typing-extensions
typing-inspect
tzdata
urllib3
wcwidth
webencodings
wordcloud
yarl
zipp